@use "../../styles/partials/global" as *;

.team-dashboard {
  background-color: $darkblack;
  border: none;
  height: 100%;

  @include tablet-size {
    @include tablet-wrapper;
    margin: 1rem 4rem;
    border-radius: 24px;
  }

  @include desktop-size {
    width: toRem(1020);
    margin: 1rem auto;
  }

  &__wrapper {
    margin: 0 2rem 2rem 2rem;
  }

  &__header {
    @include flex-column;
    margin-bottom: 1rem;
  }

  &__team-info-container {
    width: 100%;
    @include flex-column;
    justify-content: center;

    @include tablet-size {
      flex-direction: row;
    }
  }

  &__user-info-container {
    @include flex-column;
    align-items: center;

    @include tablet-size {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__user-info {
    color: $offwhite;
    font-size: 1rem;

    @include tablet-size {
      font-size: 1.5rem;
    }
  }

  &__cta-container {
    width: 100%;
    @include flex-column;
    align-items: center;

    @include tablet-size {
      flex-direction: row;
    }
    
    @include desktop-size {
      justify-content: flex-end;
    }
  }

  &__heading {
    @include heading;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    width: 100%;

    @include tablet-size {
      text-align: left;
      margin-top: 0;
    }
  }

  &__input {
    @include text-input ($offwhite, $white, $lightblue);
    @include tablet-size {
      margin: 0;
    }
  }
  
  &__button {
    @include button ($offwhite, $lightblue, $darkblue);
    margin-top: 0;
    width: 100%;

    &:hover {
      width: 100%;
    }
    @include tablet-size {
      width: 40%;
      margin: 0 0 0 1rem;

      &:hover {
        width: 40%;
      }
    }
  }

  &__secondary-button {
    @include secondary-button ($offwhite, $lightblack, $darkblack);
    width: 70%;
    margin: 0 0 0.75rem 0;
    display: none;

    @include tablet-size {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      width: 85%;
    }
  }

  &__icon {
    height: 1rem;
    width: 1rem;
    display: inline;
    margin-right: 0.5rem;
  }

  &__entry-form {
    @include tablet-size {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  &__entries-container {
    width: 100%;
    @include flex-column;
    align-items: center;
    @include tablet-size {
      align-items: flex-start;
    }
  }

  &__entry-container {
    font-size: 0.85rem;
    margin: 1rem 0;
    border-radius: 24px;
    transition: 0.3s;
    background-color: $lightblack;
    width: 65%;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &--right {
      @include tablet-size {
        align-self: flex-end;
      }
    }

    @include tablet-size {
      font-size: 1rem;
      width: 50%;
    }
  }

  &__user-data-container {
    padding: 1.5rem 2rem;
    background-color: $lightblue;
    border-radius: 24px 24px 0 0;
    color: $darkblack;
    display: flex;
    justify-content: space-between;

    &--right {
      background-color: $lightorange;
    }

    @include tablet-size {
      font-size: 1rem;
    }
  }

  &__pattern-container {
    padding: 1.5rem 2rem;
    font-size: 1rem;
    @include flex-column;
    align-items: center;

    @include tablet-size {
      font-size: 1.5rem;
    }
  }
}