//Primary
$darkblack: #2B2826;
$lightblack: #423E3B;
$offwhite: #FFFFEB;
$white: #ffffff;


//Secondary
$darkorange: #FF2E00;
$lightorange: #FF5833;
$darkyellow: #FEA120;
$lightyellow: #FEB248;
$darkblue: #4638BC;
$lightblue: #5E52CB;

//Supporting
$green: #008000;
$red: #DF2935;
$yellow: #ffea00;